*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131212;
}
.container{
    padding-left: 100px;
}
.box{
    position: relative;
    width: 382px;
    height: 422px;
    background: #070606;
    border-radius: 20px;
    overflow: hidden;
}
.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg ,transparent, transparent, #45f3ff, #45f3ff,#45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,transparent,#f32c2c,#f32c2c,#f32c2c );
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;

}
.borderLine{
    position: absolute;
    top: 0;
    inset: 0;
}
.borderLine::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #440fd4, #440fd4, #440fd4);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}
.borderLine::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, hwb(184 27% 11%), hwb(184 27% 11%), hwb(184 27% 11%));
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}

.box form{
    position: absolute;
    inset: 4px;
    background: #1e203f;
    padding: 50px 40px;
    border-radius: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.box form h2{
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
    cursor:default;
}
.box form .input{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.box form .input input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #050707;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}
.box form .input span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: #b61f1f;
    font-size: 1em;
    transition: 0.5s;
}
.box form .input input:valid~span,
.box form .input input:focus~span{
    color: #fff;
    font-size: 1em;
    transform: translateY(-35px);
}
.box form .input i{
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #f7f7f7;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}
.box form .input input:valid~i,
.box form .input input:focus~i{
    height: 34px;
    transform: translateY(-44px);

}
.box form .links{
    display: flex;
    justify-content: space-between;
}
.box form .links a{
    margin: 50px 0 20px 0;
    font-size: 1em;
    color: #8f8f8f;
    text-decoration: none;
    cursor: pointer;
}
.box form .links a:hover,
.box form .links a:nth-child(2){
    color: #178bd8;
}
/* .buttom{
    padding: 0 0px  ;
    padding-bottom: 0px;
    height: 22px;
    width: 102px;
    border-radius: 4px;
    border: 1px solid #050707;
    display: flex;
    align-items: center;
    justify-content: center;

} */
/* .buttom::before{
    content: '';
    position: absolute;
    top: 72.5%;
    left: 10%;
    width: 50px;
    height: 50px;
    background: linear-gradient(0deg, transparent,  #f32c2c, #f32c2c, #f32c2c, #f32c2c, #f32c2c );
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
} */
form input[type='submit']{
    
    border: none;
    outline: none;
    padding: 0 25px;
    background: #49c2e7;
    cursor: pointer;
    font-size: 1em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    z-index: 2;
}

form input[type='submit']:hover{
    display: flex;
    padding: 2px ;
}
@keyframes animate{
    100%{
        transform: rotate(360deg);
    }
   
}