<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Document</title>
</head>
<body>
    <div class="regsiter">
        <div class="box">
            <form action="../logic/regsitrarce.php" method="post" class="form">
                <h2>registro</h2>
                <div class="input">
                    <input type="text" required name="nombre" id="">
                    <span>nombres</span>
                    <i></i>
                </div>
                <div class="input">
                    <input type="password" required name="contra" id="">
                    <span>contraseña</span>
                    <i></i>
                </div>
                <div class="input">
                    <input type="password" required name="esta" id="">
                    <span>confirmar contraseña</span>
                    <i></i>
                </div>
                <div class="links">
                    <a href="http://">ya tengo una cuenta</a>
                </div>
                <div class="buttom">
                    <input type="submit" value="regsitrarce">
                </div>
            </form>
        </div>
    </div>
</body>
</html>